
header{
    width: 600px;
    margin:0 auto;   /*先上下 後左右置中的縮寫語法*/
    }
    
    header h1{
    display:block;   /*可省略*/
    width:960px;
    height: 300px;
    
    text-indent:-9999pxi   /*用法一:隱藏文字時*/
    }

  .welcome img{
    width: 220px;
  }
    
    nav   a  {
        color: inherit; /* 移除超連結顏色 */
        display: block; /* 讓 <a> 填滿 <li> */
        text-decoration: none;  /* 移除超連結底線 */
        font-size: 1.2rem; 
        padding: 10px; /* 調整間距 */
                               }

    nav > ul {
        list-style: none;   /* 移除項目符號 */
        background-color:#D6DCDB;
       
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    nav li:hover { /* 滑鼠移到 <a> 時變成深底淺色 */
        background-color: #82898D;
         color: white;
        

    }
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    
  
       
   body{
    background-image: url("img/背景圖.png");
    background-size: 30%;
    clear: both;   /* 解除浮動 */
    width: 960px;   /*不必預設高度,用文字段落去調整高度即可*/
    margin: 0 auto;
    background-color: beige;
    padding-top: 30px;   /*內容區與上方選單區之間的間隔設定*/
    padding-bottom: 30px;   /*內容區與下方頁尾區之間的間隔定*/
}

body{
    font-size: 15px;
    line-height: 1.7;
    padding: 0 30px;   /*左右各留 30px,編排上視覺較舒服太*/
    padding-bottom : 15px;   /*不同段落之間作區隔*/
}

/*標題*/

.loader{
  position: relative;
  width: 100%;
  height: 60px;
  left: 25px;
  border: 1px soild red;

}

.loader span{
  position: absolute;
  width: 50px;
  height: 170px;
  line-height: 60px;
  margin: 0 10px;
  color: #8C736F;
  text-align: center;
  font-size: 40px;
  transform: rotate(180deg);
  opacity: 0;
  animation: move 3.5s linear infinite;
}



.loader span:nth-child(2){
  animation-delay: 0.15s;
  color: #D4B8B4;
}
.loader span:nth-child(3){
  animation-delay: 0.3s;
  color: #ADAAA5;
}
.loader span:nth-child(4){
  animation-delay: 0.45s;
  color: #B7B7BD;
}
.loader span:nth-child(5){
  animation-delay: 0.6s;
  color: #AAB8AB;
}
.loader span:nth-child(6){
  animation-delay: 0.75s;
  color: #DDD0C8;
}
.loader span:nth-child(7){
  animation-delay: 0.9s;
  color: #A08887;
}
.loader span:nth-child(8){
  animation-delay: 1.05s;
  color: #E2C6C4;
}
.loader span:nth-child(9){
  animation-delay: 1.2s;
  color: #B1ACB3;
}
.loader span:nth-child(10){
  animation-delay: 1.35s;
  color: #53565C;
}
.loader span:nth-child(11){
  animation-delay: 1.5s;
  color: #95A098;
}
.loader span:nth-child(12){
  animation-delay: 1.65s;
  color: #C1B0A7;
}
.loader span:nth-child(13){
  animation-delay: 1.8s;
  color: #C3AAA6;
}
.loader span:nth-child(14){
  animation-delay: 1.95s;
  color: #D8C6BA;
}
.loader span:nth-child(15){
  animation-delay: 2.1s;
  color: #C4C1BC;
}
.loader span:nth-child(16){
  animation-delay: 2.25s;
  color: #60656C;
}
.loader span:nth-child(17){
  animation-delay: 2.4s;
  color: #728A7A;
}
.loader span:nth-child(18){
  animation-delay: 2.55s;
  color: #D4C3AA;
}
.loader span:nth-child(19){
  animation-delay: 2.7s;
  color: #A39183;
}



@keyframes move{
  0%{
    right: 0;
    opacity: 0;
  }
  35%{
    right: 41%;
    transform: rotate(0deg);
    opacity: 1;
  }
  65%{
    right: 59%;
    transform: rotate(0deg);
    opacity: 1;
  }
  100%{
    right: 100%;
    transform: rotate(-180deg);
    opacity: 0;
  }
}

/*手風琴*/
.accordion2  {
  width : 900px;
  margin : 100px auto 0;
}

.accordion2  label {
  display : block;
  width : 100%;
  text-align : center;
  border-radius : 5px;
  background-color : #F3F4D5;
  margin-top : 10px;
  padding : 6px 12px;
  cursor : pointer;
}

.content3 {
  height : 0px;
  background-color : #fff;
  overflow : hidden;
  transition : 0.5s;
}

input[type=radio]:checked + .content3 {
  height : 150px;
  padding: 0 20px;
  overflow: auto;
  overflow-x: hidden;
}

input[type=radio] {
  display : none;
}

/*食譜卡片*/

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
  }
  
* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
  }

  .page-content {
    display: flex;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
  }

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(img/買菜.jfif);
}
.card:nth-child(2):before {
  background-image: url(img/做菜.jpg);
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none;  /* 移除超連結底線 */
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  background-color: black;
  border: none;  
  color: white
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

   .card {
  background-color:#ffffff;
  border-radius:3px;
  border: 1px solid #a1a1a1;
  padding:20px;
}

.card .pic img {
  width: 100%;
}

.card .card-header{
  border-bottom:none;
  background-color:transparent;
}

.card .title {
  color:#EEF1EA;
}

.card .text {
  color:#444444;
}

.card-footer{
  border-top:none !important;
  background-color:transparent !important;
} 
 


  /* 卡片 */

  .container2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .container2 .card2{
    position: relative;
    width: 290px;
    height: 215px;
    background-color: #fff;
    margin: 30px 40px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 5px 200px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
  }

  .container2 .card2:hover{
    height: 500px;
  }

  .container2 .card2 .img-box{
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    top: -60px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .container2 .card2 .img-box img{
    width: 100%;
  }

  .container2 .card2 .text-box{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  .text-box a{
  color: inherit; /* 移除超連結顏色 */
  text-decoration: none;  /* 移除超連結底線 */
  }

  .text-box h2{
    color: #D4C3AA;
  }

  .text-box p{
    overflow-y:auto;
    width: 100%;
    height: 150px;

  }

  .container2 .card2 .text-box p{
    text-align: left;
    line-height: 25px;
    margin-top: 10px;
    font-size: 15px;
    color: #60656C;
    
  }

  .container2 .card2:hover .text-box{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition: 0.2s ;
  }

  /* 點擊彈出視窗*/
  .black_overlay{ 
    display: none; 
    position: absolute; 
    top: -100%; 
    left: -130%; 
    width: 115%; 
    height: 200%; 
    background-color: #D4C3AA; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: absolute; 
    top: -95%; 
    left: -125%; 
    width: 105%; 
    height: 190%; 
    padding: 20px;  
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
    text-align: left;
    color: #60656C;
} 

.black_overlay2{ 
  display: none; 
  position: absolute; 
  top: -100%; 
  left: -130%; 
  width: 115%; 
  height: 200%; 
  background-color: #D4C3AA; 
  z-index:1001; 
  -moz-opacity: 0.8; 
  opacity:.80; 
  filter: alpha(opacity=88); 
} 
.white_content2 { 
  display: none; 
  position: absolute; 
  top: -95%; 
  left: -125%; 
  width: 105%; 
  height: 190%; 
  padding: 20px;  
  background-color: white; 
  z-index:1002; 
  overflow: auto; 
  text-align: left;
  color: #60656C;
  }

  /*買菜照片輪播*/

  .box1 li{
    list-style: none;
    float: left;
    width: 100px;
    height: 500px;
    transition: all 0.3s;
    
  }
  
  .box1{
    width: 1000px;
    height: 600px;
    margin: 50px auto;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .box1 li .text1{
    position: relative;
    left:0;
    bottom: 0;
    font-size: 20px;
    color:#60656C;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  .box1:hover li{
    width: 60px;
  }
  
  .box1 li:hover{
    width: 300px;
  }
  
  .box1 li img{
    width: 300px;
  }
  
  .box1 li a{
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
  }

  
  
 